body {
    background-color: #e0f2f1;
    /* Your background color */
    margin: 0;
    /* Remove default margin */
    min-height: 100vh;
    /* Ensure the body takes the full viewport height */
}

.contact-list {
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
    /* Add some space at the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    /* Remove background color from contact list */
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
}

.contact-info {
    display: flex;
    align-items: center;
}

.avatar {
    color: #ff7043;
    margin-right: 15px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-weight: bold;
}

.contact-number {
    color: #666;
}

.contact-actions .material-icons {
    cursor: pointer;
    margin: 0 10px;
}

.add-btn {
    width: max-content;
    padding: 10px 20px;
    margin: 20px auto 0;
    background-color: #4db6ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}